:root {
	--bg-color:  #333; /*改变背景色*/
	--text-color: #c7c5c5;// #eee; /*改变文字颜色*/
	--md-char-color: #C7C5C5; /*改变元字符的颜色，例如 markdown 中的“*”*/
	--meta-content-color: #5b808d; /*改变元内容的颜色，例如 markdown 中的图像文本和链接地址*/
 
	--primary-color: #428bca; /*主按钮的颜色*/
	--primary-btn-border-color: #285e8e;
	--primary-btn-text-color: #fff;
 
	--window-border: 1px solid #eee; /*边栏等的边框*/
 
	--active-file-bg-color: #696969; /*文件树或文件列表中当前项的背景色*/
	--active-file-text-color: inherit;
	--active-file-border-color: #777;
 
	--side-bar-bg-color: var(--bg-color); /*改变边栏颜色*/
	--item-hover-bg-color: #696969; // rgba(229, 229, 229, 0.59); /*鼠标悬停时控件项的背景，如侧边栏中的菜单*/
	--item-hover-text-color: inherit;
	// --monospace: monospace; /*代码的等宽字体*/
	--blur-text-color:#696969;
	--select-text-bg-color: #696969; // 选中状态的字体背景色
}

body {
	background: #333;
	color: #c7c5c5;

	&.on-focus-mode {
		color: #696969;

		#typora-sidebar {
			color: #c7c5c5;
		}
	}

	.typora-quick-open-item.active {
		background: #696969;
	}

	a {
		color: #aa8ac7;
	}

	pre {
		background: #333 !important;
		border: 1px solid #666;
	}

	.summary code, p code, td code, li code {
		color: #c2588d;
	}

	.cm-s-inner .cm-keyword {
		color: #906d95;
	}

	.cm-s-inner .cm-comment, .cm-s-inner.cm-comment {
		color: #8d8781;
	}

	.cm-s-inner .cm-property {
		color: #c7c5c5;
	}

	.cm-s-inner .cm-atom, .cm-s-inner.cm-atom {
		color: #78739d;
	}

	.cm-s-inner .cm-string {
		color: #9a7c7c;
	}

	.cm-s-inner .cm-string-2 {
		color: #9a7c7c; // #ffdccb;
	}
	.cm-s-inner .cm-builtin {
		color: #8c83a3;
	}

	.cm-s-inner .cm-def {
		color: #8a8aeb;
	}

	.cm-s-inner .cm-variable-3 {
		color: #588474;
	}

	.cm-s-inner .cm-variable-2 {
		color: #4a739c;
	}

	.cm-s-inner .cm-variable {
		color: #a8a5a5;
	}

	.cm-s-inner .cm-operator {
		color: #8c6060;
	}

	.cm-s-inner .cm-number {
		color: #497663;
	}

	.cm-s-inner .cm-attribute {
		color: #aaaac7;
	}

	.cm-s-inner .cm-tag {
		color: #62815d;
	}

	.cm-invalidchar {
		color: #865858;
	}

	.cm-s-inner .CodeMirror-cursor {
		border-left: solid thin #f8f8f2 !important;
		margin-left: 4px;
	}
}

